In [1]:
import pandas as pd

# Carregar o arquivo conciliado que você salvou no passo anterior
df_conciliado = pd.read_csv('conciliacao_de_vendas_olist.csv')

# Verificar se ele carregou corretamente
print(df_conciliado.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       103886 non-null  object
 1   customer_id                    103886 non-null  object
 2   order_status                   103886 non-null  object
 3   order_purchase_timestamp       103886 non-null  object
 4   order_approved_at              103711 non-null  object
 5   order_delivered_carrier_date   101998 non-null  object
 6   order_delivered_customer_date  100754 non-null  object
 7   order_estimated_delivery_date  103886 non-null  object
 8   payment_sequential             103886 non-null  int64
 9   payment_type                   103886 non-null  object
 10  payment_installments           103886 non-null  int64
 11  payment_value                  103886 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 9.5+ MB
None

In [3]:
# Converter a coluna de data para o tipo datetime
df_conciliado['order_purchase_timestamp'] = pd.to_datetime(df_conciliado['order_purchase_timestamp'])

# Conferir se a conversão funcionou
df_conciliado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       103886 non-null  object
 1   customer_id                    103886 non-null  object
 2   order_status                   103886 non-null  object
 3   order_purchase_timestamp       103886 non-null  datetime64[ns]
 4   order_approved_at              103711 non-null  object
 5   order_delivered_carrier_date   101998 non-null  object
 6   order_delivered_customer_date  100754 non-null  object
 7   order_estimated_delivery_date  103886 non-null  object
 8   payment_sequential             103886 non-null  int64
 9   payment_type                   103886 non-null  object
 10  payment_installments           103886 non-null  int64
 11  payment_value                  103886 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 9.5+ MB

In [ ]:
#Cálculo de KPIs e Métricas

In [4]:
# Contar o número total de pedidos únicos
total_pedidos = df_conciliado['order_id'].nunique()
print(f"Total de pedidos únicos: {total_pedidos}")

Total de pedidos únicos: 99440

In [5]:
# Calcular a receita total
receita_total = df_conciliado['payment_value'].sum()
print(f"Receita total: R$ {receita_total:,.2f}")

Receita total: R$ 16,008,872.12

In [6]:
# Calcular o ticket médio (valor médio de cada transação)
ticket_medio = df_conciliado['payment_value'].mean()
print(f"Ticket médio: R$ {ticket_medio:,.2f}")

Ticket médio: R$ 154.10

In [7]:
# Contar o número de pagamentos por tipo
contagem_pagamentos = df_conciliado['payment_type'].value_counts()
print("\nContagem de pagamentos por tipo:")
print(contagem_pagamentos)

Contagem de pagamentos por tipo:
payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [ ]:
#Análise de Variação Temporal

In [8]:
# Criar uma nova coluna para o mês e ano
df_conciliado['mes_ano'] = df_conciliado['order_purchase_timestamp'].dt.to_period('M')

In [9]:
# Agrupar os dados por mês para ver a receita e o número de pedidos
analise_mensal = df_conciliado.groupby('mes_ano').agg(
    total_receita=('payment_value', 'sum'),
    numero_pedidos=('order_id', 'nunique')
).reset_index()

In [10]:
print("\nAnálise de Receita e Pedidos por Mês:")
print(analise_mensal)

Análise de Receita e Pedidos por Mês:
    mes_ano  total_receita  numero_pedidos
0   2016-09         252.24               3
1   2016-10       59090.48             324
2   2016-12          19.62               1
3   2017-01      138488.04             800
4   2017-02      291908.01            1780
5   2017-03      449863.60            2682
6   2017-04      417788.03            2404
7   2017-05      592918.82            3700
8   2017-06      511276.38            3245
9   2017-07      592382.92            4026
10  2017-08      674396.32            4331
11  2017-09      727762.45            4285
12  2017-10      779677.88            4631
13  2017-11     1194882.80            7544
14  2017-12      878401.48            5673
15  2018-01     1115004.18            7269
16  2018-02      992463.34            6728
17  2018-03     1159652.12            7211
18  2018-04     1160785.48            6939
19  2018-05     1153982.15            6873
20  2018-06     1023880.50            6167
21  2018-07     1066540.75            6292
22  2018-08     1022425.32            6512
23  2018-09        4439.54              16
24  2018-10         589.67               4

In [ ]:
# Simulação de Taxas de Pagamento e Receita Líquida

In [11]:
# Simular uma taxa de 3% para todos os pagamentos
taxa_gateway = 0.03

In [12]:
# Criar a coluna de valor da taxa
df_conciliado['taxa_valor'] = df_conciliado['payment_value'] * taxa_gateway

In [13]:
# Criar a coluna de receita líquida
df_conciliado['receita_liquida'] = df_conciliado['payment_value'] - df_conciliado['taxa_valor']

In [14]:
# Verificar o resultado nas primeiras linhas
print("\nDataFrame com Taxa e Receita Líquida:")
print(df_conciliado[['payment_value', 'taxa_valor', 'receita_liquida']].head())

DataFrame com Taxa e Receita Líquida:
   payment_value  taxa_valor  receita_liquida
0          18.12      0.5436          17.5764
1           2.00      0.0600           1.9400
2          18.59      0.5577          18.0323
3         141.46      4.2438         137.2162
4         179.12      5.3736         173.7464

In [15]:
# Calcular a receita líquida total
receita_liquida_total = df_conciliado['receita_liquida'].sum()
print(f"\nReceita líquida total: R$ {receita_liquida_total:,.2f}")

Receita líquida total: R$ 15,528,605.96

In [18]:
df_conciliado.to_csv('analise_conciliacao_final.csv', index=False, sep=';', decimal=',')

print("Arquivo 'analise_conciliacao_final.csv' salvo com sucesso com a formatação correta!")

Arquivo 'analise_conciliacao_final.csv' salvo com sucesso com a formatação correta!