In [3]:
import pandas as pd

In [4]:
df_orders = pd.read_csv('C:/Users/Gladson Silva/Desktop/Analise de Dados/Olist Marktplace Sales/sistema de vendas.csv')
df_payments = pd.read_csv('C:/Users/Gladson Silva/Desktop/Analise de Dados/Olist Marktplace Sales/extrato do gateway de pagamento.csv')

In [5]:
# Ver as 5 primeiras linhas de cada DataFrame para uma visão geral
print("DataFrame de Pedidos (df_orders):")
print(df_orders.head())
print("\n" + "="*50 + "\n")

DataFrame de Pedidos (df_orders):
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

==================================================

In [7]:
# Ver as 5 primeiras linhas de cada DataFrame para uma visão geral
print("DataFrame de Pagamentos (df_payments):")
print(df_payments.head())
print("\n" + "="*50 + "\n")

DataFrame de Pagamentos (df_payments):
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

==================================================

In [8]:
# Obter informações sobre as colunas, tipos de dados e valores não nulos
print("Informações sobre df_orders:")
df_orders.info()
print("\n" + "="*50 + "\n")

Informações sobre df_orders:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

==================================================

In [9]:
# Obter informações sobre as colunas, tipos de dados e valores não nulos
print("Informações sobre df_payments:")
df_payments.info()

Informações sobre df_payments:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [11]:
# Verificar valores NaN
print("Valores ausentes em df_orders:")
print(df_orders.isnull().sum())

print("\nValores ausentes em df_payments:")
print(df_payments.isnull().sum())

Valores ausentes em df_orders:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Valores ausentes em df_payments:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [12]:
# Converter a coluna de data para o tipo datetime
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])

# Conferir se a conversão funcionou
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 6.1+ MB

In [13]:
# Fazer o merge dos dois DataFrames usando 'order_id'
# Usado o 'inner' para manter apenas os pedidos que possuem pagamentos correspondentes
df_conciliado = pd.merge(df_orders, df_payments, on='order_id', how='inner')

In [14]:
# Verificar as 5 primeiras linhas do novo DataFrame conciliado
print("DataFrame Conciliado:")
print(df_conciliado.head())

DataFrame Conciliado:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
2  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
3  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
4  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
2    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
3    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
4    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2017-10-04 19:55:00           2017-10-10 21:25:13
2          2017-10-04 19:55:00           2017-10-10 21:25:13
3          2018-07-26 14:31:00           2018-08-07 15:27:45
4          2018-08-08 13:50:00           2018-08-17 18:06:29

  order_estimated_delivery_date  payment_sequential payment_type  \
0           2017-10-18 00:00:00                   1  credit_card
1           2017-10-18 00:00:00                   3      voucher
2           2017-10-18 00:00:00                   2      voucher
3           2018-08-13 00:00:00                   1       boleto
4           2018-09-04 00:00:00                   1  credit_card

   payment_installments  payment_value
0                     1          18.12
1                     1           2.00
2                     1          18.59
3                     1         141.46
4                     3         179.12

In [15]:
# Verificar a quantidade de linhas do novo DataFrame para ver a perda de dados
print(f"Número de linhas no df_orders original: {len(df_orders)}")
print(f"Número de linhas no df_payments original: {len(df_payments)}")
print(f"Número de linhas no df_conciliado: {len(df_conciliado)}")

Número de linhas no df_orders original: 99441
Número de linhas no df_payments original: 103886
Número de linhas no df_conciliado: 103886

In [16]:
# Exportar o DataFrame conciliado para um novo arquivo CSV
df_conciliado.to_csv('conciliacao_de_vendas_olist.csv', index=False)

print("Arquivo 'conciliacao_de_vendas_olist.csv' criado com sucesso!")

Arquivo 'conciliacao_de_vendas_olist.csv' criado com sucesso!